# Ignore everything in the root directory
/*

# But not app_ll
!/app_ll/

# Ignore specific files and directories in app_ll
app_ll/dialogue_data/
app_ll/final_dialogue_data/
app_ll/__pycache__/
app_ll/.env
app_ll/venv/
app_ll/.DS_Store